@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Engineer</h2>

<h4>Add a engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Machine")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}
<input type="button" value="Machine List" onclick="location.href='@Url.Action("Index", "Machines")';" class="btn btn-warning" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-warning" />