@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete this Engineer?</h2>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.License): @Html.DisplayFor(model => model.License)</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete"/>
}

<input type="button" value="engineer List" onclick="location.href='@Url.Action("Index", "Engineers")';" class="btn btn-warning" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-warning" />